.socialIcons-container,
.socialIcons-info {
  display: flex;
  color: white;
}

.socialIcons-container {
  width: 100%;
  justify-content: center;
}

.socialIcons-items {
  display: flex;
  flex-wrap: wrap;

  /* width: 50%; */
  column-gap: 7rem;
  row-gap: 3.15rem;
  
  justify-content: center;
}

.socialIcons-items p {
    font-family: "Bender", sans-serif;
    font-size: 2rem;
    margin: 0;
}

.contacts-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.contacts-letters-container {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  margin-bottom: 3.25rem;
}