.skills-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8.5rem;
  gap: 3.25rem;
}

.skills-letters-container {
  display: flex;
  align-items: baseline;
  gap: 1.85rem;
}

.skills-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки равной ширины */
  gap: 1rem; /* промежуток между карточками */
  max-width: 93.5rem;
  margin: 0 auto; /* центрирует контейнер */
}

.skills-card-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* убираем align-items: flex-start; или оставляем, если нужно слева */
  background-image: url("./assets/sticker.png");
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 330px;

  /* Вместо left: 4rem; используем внутренние отступы */
  padding: 2rem; /* подберите подходящее значение */
}
  
  .skills-card h1 {
    font-size: 2.25rem;
    margin: 0 0 1rem 0;
    max-width: 350px;
    height: 50px;
    font-family: "Bender-Bold", sans-serif;
    display: flex;
    align-items: center;
  }
  
  .skills-card p {
    font-size: 1.375rem;
    margin: 0;
    word-wrap: break-word;
    max-width: 360px;
    height: 150px;
    font-family: "Bender", sans-serif;
    line-height: 1.55rem;
  }
